@{
    ViewBag.Title = "Home Page";
}


    <div>
        <img src="~/img/VanGogh.jpg" />
        <h2>Mug</h2>
        <ul>
            <li>Price: $9.99</li>
            <li>Artist: Van Gogh</li>
            <li>Title:</li>
            <li>Description: Self-portrait</li>
        </ul>

        <button>Buy</button>

    </div>

